# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Node
node_modules/
dist/
build/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs & DBs
*.log
*.db
*.sqlite
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
